src/main/resources/schema/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="it.niuma.mscsoapws.ws"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
           targetNamespace="it.niuma.mscsoapws.ws" elementFormDefault="qualified"
           jaxb:version="2.0"
           >

<xs:annotation>
    <xs:appinfo>
        <jaxb:globalBindings>
            <jaxb:javaType name="java.util.Date" parseMethod="javax.xml.bind.DatatypeConverter.parseDate" printMethod="javax.xml.bind.DatatypeConverter.printDate" xmlType="xs:dateTime"></jaxb:javaType>
        </jaxb:globalBindings>
    </xs:appinfo>
</xs:annotation>

	<xs:element name="loginRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" />
				<xs:element name="password" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="loginResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="statusCode" type="xs:int"/>
				<xs:element name="success" type="xs:boolean"/>
				<xs:element name="message" type="xs:string" />
				<xs:element name="accessToken" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getPOrdersFromVendorCodeRequest">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>

	<xs:element name="getPOrdersFromVendorCodeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="soapResponse" type="tns:SOAPResponse"/>
				<xs:element name="orders" type="tns:POrderXml" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getPOrderRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="poNumber" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getPOrderResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="soapResponse" type="tns:SOAPResponse"/>
				<xs:element name="pOrder" type="tns:POrderXml" />
				<xs:element name="requiresLogistic" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- -->
    <xs:element name="getPOrderLineFromID">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getPOrderLineFromPOrderRef">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="porder_ref" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getPOrderLineFromItemExpiry">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="itemExpiry" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="createNewPLotRequest">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="plotToCreate" type="tns:pLotDataFromInput"/>
				<xs:element name="plotLineToCreate" type="tns:pLotLineDataFromInput" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="createNewPLotResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="statusCode" type="xs:int"/>
				<xs:element name="success" type="xs:boolean"/>
				<xs:element name="message" type="xs:string" />
                <xs:element name="PLot" type="tns:PLotXml"/>
				<xs:element name="PLotLine" type="tns:PLotLineXml" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getPOrderLineFromIDResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="statusCode" type="xs:int"/>
				<xs:element name="success" type="xs:boolean"/>
				<xs:element name="message" type="xs:string" />
                <xs:element name="POrderLine" type="tns:POrderLineXml" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
        
    <xs:element name="getPOrderLineFromPOrderRefResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="statusCode" type="xs:int"/>
				<xs:element name="success" type="xs:boolean"/>
				<xs:element name="message" type="xs:string" />
                <xs:element name="POrderLines" type="tns:POrderLineXml" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getPOrderLineFromItemExpiryResponse">
        <xs:complexType>
            <xs:sequence>
				<xs:element name="statusCode" type="xs:int"/>
				<xs:element name="success" type="xs:boolean"/>
				<xs:element name="message" type="xs:string" />
                <xs:element name="POrderLines" type="tns:POrderLineXml" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

	<xs:complexType name="pLotDataFromInput">
		<xs:sequence>
			<xs:element name="numeroOrdine" type="xs:string"/>
			<xs:element name="numeroDDT" type="xs:string"/>
			<xs:element name="dtEmissione" type="xs:dateTime"/>
			<xs:element name="dtIngresso" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="pLotLineDataFromInput">
		<xs:sequence>
			<xs:element name="pesoVariabile" type="xs:decimal" minOccurs="0" default="0"/>
			<xs:element name="nrLotto" type="xs:decimal" />
			<xs:element name="quantitaConfermata" type="xs:decimal"/>
			<xs:element name="globalTradeItemNumber" type="xs:string"/>
			<xs:element name="nrNetto" type="xs:decimal"/>
			<xs:element name="nrLordo" type="xs:decimal"/>
			<xs:element name="nrColli" type="xs:decimal"/>
			<xs:element name="nrPezziConf" type="xs:decimal"/>
			<xs:element name="dtScadenza" type="xs:dateTime"/>
			<xs:element name="docDoganale" type="xs:decimal"/>
			<xs:element name="nDocDoganale" type="xs:decimal" minOccurs="0"/>
			<xs:element name="codiceSSCCPallett" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="nrRiga" type="xs:decimal"/>
			<xs:element name="codiceArticolo" type="xs:string" />
			<xs:element name="unitaMisura" type="xs:string"/>
			<xs:element name="paeseOrigine" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="paeseProvenienza" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="docSanitario" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="dataDocSanitario" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="dfFattura" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="dtFattura" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="codiceAnimo" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="sif" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="voceDoganale" type="xs:string" minOccurs="0" default=""/>
			<xs:element name="idPallet" type="xs:string" minOccurs="0" default=""/>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="POrderLineXml">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="line" type="xs:decimal"/>
            <xs:element name="ordID" type="xs:decimal"/>
            <xs:element name="porder_ref" type="xs:long"/>
            <xs:element name="itemCode" type="xs:string" minOccurs="0"/>
            <xs:element name="itemCodeExternal" type="xs:string" minOccurs="0"/>
            <xs:element name="itemGlCode" type="xs:string" minOccurs="0"/>
            <xs:element name="itemDescription" type="xs:string" />
            <xs:element name="itemUnit" type="xs:string"/>
            <xs:element name="itemReceivingUnit" type="xs:string" minOccurs="0"/>
            <xs:element name="unitFactor" type="xs:decimal" minOccurs="0"/>
            <xs:element name="quantityApproved" type="xs:decimal" minOccurs="0"/>
            <xs:element name="quantityOrdered" type="xs:decimal" minOccurs="0"/>
            <xs:element name="quantityReceived" type="xs:decimal" minOccurs="0"/>
            <xs:element name="itemPrice" type="xs:decimal" minOccurs="0"/>
            <xs:element name="itemTax" type="xs:decimal" minOccurs="0"/>
            <xs:element name="itemDiscount" type="xs:decimal" minOccurs="0"/>
            <xs:element name="itemExpiry" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="lineComment" type="xs:string" minOccurs="0"/>
            <xs:element name="vendorItemCode" type="xs:string" minOccurs="0"/>
            <xs:element name="vendorNotes" type="xs:string" minOccurs="0"/>
            <xs:element name="annullato" type="xs:decimal" minOccurs="0"/>
            <xs:element name="modificatoDa" type="xs:decimal" minOccurs="0"/>
            <xs:element name="dataModifica" type="xs:dateTime" minOccurs="0" />
            <xs:element name="qtConfirmedOrig" type="xs:decimal" minOccurs="0" />
            <xs:element name="noteAlternative" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityLogistic" type="xs:decimal" minOccurs="0" />
            <xs:element name="moq" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityApprovedCase" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityOrderedCase" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityReceivedCase" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityConfirmedCase" type="xs:decimal" minOccurs="0" />
            <xs:element name="quantityLogisticCase" type="xs:decimal" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="POrderXml">
		<xs:sequence>
		    <xs:element name="id" type="xs:long"/>
		    <xs:element name="interfaceID" type="xs:string"/>
			<xs:element name="entityId" type="xs:string" />
			<xs:element name="poInternalId" type="xs:long" />			
			<xs:element name="entityName" type="xs:string" />
			<xs:element name="entityGl" type="xs:string"/>
			<xs:element name="hqID" type="xs:string"/>
			<xs:element name="hqGl" type="xs:string"/>
			<xs:element name="invoicingHqCode" type="xs:string"/>
			<xs:element name="invoicingHqName" type="xs:string"/>
			<xs:element name="buyerGroup" type="xs:string"/>
			<xs:element name="deliveryDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="createDate" type="xs:dateTime" />
			<xs:element name="deliveryPortCode" type="xs:string" />
			<xs:element name="voyageCode" type="xs:string" minOccurs="0"/>
			<xs:element name="poNumber" type="xs:string"/>
			<xs:element name="orderRequestID" type="xs:long"/>
			<xs:element name="vendorCode" type="xs:string"/>
			<xs:element name="vendorName" type="xs:string" minOccurs="0"/>
			<xs:element name="vendorGL" type="xs:string" />
			<xs:element name="vendorExternalCode" type="xs:string" minOccurs="0"/>
			<xs:element name="paymentTerms" type="xs:string" />
			<xs:element name="deliveryTerms" type="xs:string" />
			<xs:element name="portAgentCode" type="xs:string" />
			<xs:element name="portAgentName" type="xs:string"/>
			<xs:element name="currency" type="xs:string"/>
			<xs:element name="currencyRate" type="xs:decimal" minOccurs="0"/>
			<xs:element name="documentValue" type="xs:decimal" minOccurs="0"/>
			<xs:element name="coEnabled" type="xs:int" />
			<xs:element name="coVendorCode" type="xs:string" minOccurs="0"/>
			<xs:element name="coVendorName" type="xs:string" minOccurs="0"/>
			<xs:element name="coDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="container" type="xs:int" />
			<xs:element name="discountGlobal" type="xs:decimal" minOccurs="0" />
			<xs:element name="taxGlobal" type="xs:decimal" minOccurs="0" />
			<xs:element name="fullName" type="xs:string" minOccurs="0" />
			<xs:element name="documentComment" type="xs:string" minOccurs="0" />
			<xs:element name="parentPoID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="poCancelledStatus" type="xs:int"/>
			<xs:element name="exportFileRevision" type="xs:string" minOccurs="0"/>
			<xs:element name="externalRequestID" type="xs:decimal" minOccurs="0"/>
			<xs:element name="destinationPoc" type="xs:string" minOccurs="0"/>
			<xs:element name="statusID" type="xs:int" />
			<xs:element name="coDateSupplier" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="deliveryPortName" type="xs:string" minOccurs="0"/>
			<xs:element name="inviatoDa" type="xs:decimal" minOccurs="0"/>
			<xs:element name="dataInvio" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="checkValue" type="xs:decimal" minOccurs="0"/>
			<xs:element name="saved" type="xs:decimal" minOccurs="0"/>
			<xs:element name="viewed" type="xs:decimal" minOccurs="0"/>
			<xs:element name="infoContainer" type="xs:string" minOccurs="0"/>
			<xs:element name="rejectionReason" type="xs:string" minOccurs="0"/>
			<xs:element name="logistic" type="xs:decimal" minOccurs="0"/>
			<xs:element name="limitToSend" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="division" type="xs:decimal" minOccurs="0"/>
			<xs:element name="invoice" type="xs:decimal" minOccurs="0"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="orderLines" type="tns:POrderLineXml"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PLotXml">
	    <xs:sequence>
	        <xs:element name="id" type="xs:decimal"/>
	        <xs:element name="tpRecord" type="xs:string" minOccurs="0" default="TD"/>
	        <xs:element name="cdDepositante" type="xs:string" minOccurs="0" default="MSC"/>
	        <xs:element name="dtEmissione" type="xs:dateTime" minOccurs="0"/>
	        <xs:element name="dfDocIngresso" type="xs:string" />
	        <xs:element name="dtIngresso" type="xs:dateTime" minOccurs="0" />
	        <xs:element name="cdCedente" type="xs:string"/>
	        <xs:element name="tpCedente" type="xs:string" minOccurs="0" default="SUP"/>
	        <xs:element name="stato" type="xs:decimal" minOccurs="0" />
	        <xs:element name="inviatoDa" type="xs:decimal" minOccurs="0" />
	        <xs:element name="dataInvio" type="xs:dateTime" minOccurs="0" />
	        <xs:element name="email" type="xs:string" minOccurs="0"/>
	        <xs:element name="poNumber" type="xs:string" minOccurs="0" />
	        <xs:element name="ssccAvailable" type="xs:decimal" minOccurs="0" />
	    </xs:sequence>
	</xs:complexType>

	<xs:complexType name="PLotLineXml">
	    <xs:sequence>
	      <xs:element name="id" type="xs:decimal" />
	      <xs:element name="idLot" type="xs:decimal" minOccurs="0" />
	      <xs:element name="tpRecord" type="xs:string" minOccurs="0" default="TR"/>
	      <xs:element name="cdDepositante" type="xs:string" minOccurs="0" default="MSC"/>
	      <xs:element name="cdCollo" type="xs:string" minOccurs="0" />
	      <xs:element name="nrRiga" type="xs:decimal" />
	      <xs:element name="cdGtin" type="xs:string" minOccurs="0"/>
	      <xs:element name="cdArticolo" type="xs:string" /> 
	      <xs:element name="cdVoceDoganale" type="xs:string" minOccurs="0" />
	      <xs:element name="cdMisura" type="xs:string" />
	      <xs:element name="flPesoVariabile" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="nrPrezzo" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="dfValuta" type="xs:string" minOccurs="0" />
	      <xs:element name="stContabile" type="xs:string" minOccurs="0"/>
	      <xs:element name="nrLotto" type="xs:string" minOccurs="0" />
	      <xs:element name="qtPrevista" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="nrNetto" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="nrLordo" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="nrColli" type="xs:decimal" minOccurs="0" />
	      <xs:element name="nrPzConf" type="xs:decimal" minOccurs="0" />
	      <xs:element name="nrListaIngresso" type="xs:string" minOccurs="0" />
	      <xs:element name="tpListaIngresso" type="xs:string" minOccurs="0" default="ACQ" />
	      <xs:element name="nrRigaListaIngresso" type="xs:string" minOccurs="0"/>
	      <xs:element name="cdProprietarioStock" type="xs:string" minOccurs="0"/>
	      <xs:element name="tpProprietarioStock" type="xs:string" minOccurs="0" default="OWN" />
	      <xs:element name="dtScadenza" type="xs:dateTime" minOccurs="0" />
	      <xs:element name="cdPaeseOrigine" type="xs:string" minOccurs="0"/>
	      <xs:element name="cdPaeseProvenienza" type="xs:string" minOccurs="0"/>
	      <xs:element name="dfDvce" type="xs:string" minOccurs="0"/>
	      <xs:element name="dtDvce" type="xs:dateTime" minOccurs="0"/>
	      <xs:element name="dfAnimo" type="xs:string" minOccurs="0"/>
	      <xs:element name="dfSif" type="xs:string" minOccurs="0"/>
	      <xs:element name="flDogana" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="flContainer" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="dfFattura" type="xs:string" minOccurs="0"/>
	      <xs:element name="dtFattura" type="xs:dateTime" minOccurs="0"/>
	      <xs:element name="dfMrn" type="xs:string" minOccurs="0"/>
	      <xs:element name="cdClienteRiserva" type="xs:string" minOccurs="0"/>
	      <xs:element name="tpClienteRiserva" type="xs:string" minOccurs="0" default="CUS"/>
	      <xs:element name="dfRiserva" type="xs:string" minOccurs="0"/>
	      <xs:element name="stato" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="compilatoDa" type="xs:decimal" minOccurs="0"/>
	      <xs:element name="dataCompilazione" type="xs:dateTime" minOccurs="0"/>
	      <xs:element name="palletID" type="xs:string" minOccurs="0"/>
	      <xs:element name="moq" type="xs:decimal" minOccurs="0"/>   
	    </xs:sequence>	    
	</xs:complexType>

	<xs:complexType name="SOAPResponse">
		<xs:sequence>
			<xs:element name="statusCode" type="xs:int" />
			<xs:element name="message" type="xs:string"/>
			<xs:element name="errorsList" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>